{% extends "base/base.html" %}

{% block title %}
Settings
{% endblock %}

{% block content %}
<form
    action="{{ url_for('auth_bp.logout') }}" 
    method="POST"
    class="text-sm flex gap-2 py-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" 
    class="w-fit flex items-center gap-2 justify-center px-4 py-3 rounded-xl border border-gray-500 cursor-not-allowed">
    <ion-icon name="log-out-outline" class="text-lg"></ion-icon>
    Log out
    </button>
</form>
{% endblock %}