.flash {
  transform: translateY(150%);
  animation: slideUp 1s ease-out forwards, slideDown 1s ease-in forwards;
  animation-delay: 0s, 7.1s;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(150%);
  }
}

body {
  font-family: "Outfit", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;

}

.bookfont {
  font-family: "Literata", serif;
}

.funfont {
  font-family: "Caveat", sans-serif;
}

.codefont {
  font-family: "JetBrains Mono", sans-serif;
}

.cursivefont {
  font-family: "Petit Formal Script", sans-serif;
}


dragarea,
.dragarea {
  display: block;
  box-sizing: border-box;
}

dragfree,
.dragfree,
.dragfree-save {
  display: block;
}

.dragable,
.draggable,
dragfree,
.dragfree,
.dragfree-save {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
}

.drag-placeholder {
  box-sizing: border-box;
}

body.dragengine-active {
  cursor: grabbing;
}

.dragging {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.3),
            0 8px 10px -6px rgb(0 0 0 / 0.3);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}

.drag-placeholder {
  border-radius:0.5rem;
  border: 1px;
  border-style: dashed;
  border-color: #FF6B5A;
  opacity: 70%;
}