.flash {
  transform: translateY(150%);
  animation: slideUp 1s ease-out forwards, slideDown 1s ease-in forwards;
  animation-delay: 0s, 7.1s;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(150%);
  }
}

body {
  font-family: "Outfit", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;

}

.bookfont {
  font-family: "Literata", serif;
}

.funfont {
  font-family: "Caveat", sans-serif;
}

.codefont {
  font-family: "JetBrains Mono", sans-serif;
}

.cursivefont {
  font-family: "Petit Formal Script", sans-serif;
}


dragarea,
.dragarea {
  display: block;
  box-sizing: border-box;
}

dragfree,
.dragfree,
.dragfree-save {
  display: block;
}

.dragable,
.draggable,
dragfree,
.dragfree,
.dragfree-save {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
}

.drag-placeholder {
  box-sizing: border-box;
}

body.dragengine-active {
  cursor: grabbing;
}