{% extends 'base/base.html' %}
{% block title %}
Admin
{% endblock %}
{% block content %}
<section class="relative flex flex-col gap-4 w-full h-full items-center justify-center">
    
    <h1 class="text-2xl font-semibold">Hello, {{ g.user.username | proper }}</h1>
    <p>This is your admin panel</p>
    <button 
    hx-post="{{ url_for('auth_bp.logout') }}"
    hx-vals='{
        "csrf_token": "{{ csrf_token() }}"
    }'
    class="absolute bottom-5 w-fit bg-primary rounded-xl text-white text-xs px-4 py-2"
    >
        Log out
    </button>
</div>

{% endblock %}